=helvetica-light
  font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif !important
  font-weight: normal !important

=georgia
  font-family: Georgia !important
  font-weight: normal !important

=red-color
  color: #990000

=text-color
  color: #333 !important

=white-bg
  background-color: #F4F4F4

=hide
  display: none !important

=transparent
  background-color: transparent !important

=no-border
  border: 1px none #bbb !important

=hide-links($domain)
  $url1: "http://" + $domain
  $url2: "http://www." + $domain
  a[href^="#{$url1}"], a[href^="#{$url2}"]
    color: black !important
    background-color: black !important
    &:after
      content: $domain
      color: white !important
    img
      display: none

[data-domain="youtube.com"], [data-domain="www.youtube.com"]
  body
    +white-bg
    +helvetica-light
  #yt-masthead-container,
  #footer-hh-container,
  #guide,
  #watch7-main-container,
  #footer-container
    +hide

[data-domain="github.com"], [data-domain="www.github.com"]
  #userbox #user-links #notifications .unread_count
    +hide

[data-domain='facebook.com'], [data-domain="www.facebook.com"]
  .fbxWelcomeBoxName
    width: 150px !important
  #pageNav
    li:nth-child(2),
    li:nth-child(3)
      +hide
  #blueBar.fixed_elem
    position: static !important
  body, .uiStreamMessage
    font-size: 14px !important
  body.webkit
    +helvetica-light
    background: rgb(235,235,235) !important
  #rightCol
    display: none

  div[role=article]
    background-color: #FFF
    border-radius: 3px
    border: 1px solid #C0C0C0
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.8)
    &:hover
      border: 1px solid rgb(29, 52, 113)
      box-shadow: 0 0 5px rgba(29, 52, 113, 0.4)
    h5.uiStreamHeadline
      color: #AAA !important
      font-weight: bold
      padding: 5px 10px !important
      a
        color: #AAA !important
        font-weight: bold
    .uiStreamAttachments
      margin: 8px !important
    form
      .uiStreamFooter
        display: block
        border-top: 1px solid rgb(226,226,226)
        padding: 3px
        text-align: right
        font-size: 12px
        color: #AAA
    .UFIRow
      border-top: 1px solid rgb(226, 226, 226)
      background-color: transparent !important

    .UFIAddComment
      display: none
    .uiUfi.UFIContainer
      margin: 0 !important
      padding: 0 !important
      width: auto !important
    .messageBody
      display: block
      width: auto !important
      padding: 5px 10px !important
    .UFIArrow
      display: none


  .profilePic
    border-radius: 3px
    border: 1px solid #BBB !important
    box-shadow: 0 0 3px rgba(200, 200, 200, 0.8) !important

  .UIActionLinks.UIActionLinks_bottom, #pagelet_friends_online
    +hide
  #blueBar
    +no-border
    -webkit-box-shadow: none !important
    background-color: darken(rgb(231,235,242), 10%) !important
    border-bottom: 1px solid darken(rgb(231, 235, 242), 20%) !important
  #pagelet_rhc_footer, #pagelet_ego_pane_w, #pagelet_bookmark_nav, #pagelet_composer, #pagelet_navigation, #pageLogo, #pagelet_chat, .like_link
    +hide
  #contentCol, #mainContainer
    +no-border
    background: rgb(235,235,235) !important
  .uiStreamMessage .actorName, .uiStreamMessage .passiveName
    +text-color
    font-size: 14px !important
    font-weight: normal !important
  a
    +text-color
  .storyContent
    margin: 20px 0 !important
  .UFIComment
    background-color: transparent !important
  a[title="Like this comment"],
  label[title="Leave a comment"],
  a[title="Like this item"]
    +hide

+hide-links("kickstarter.com")
+hide-links("reddit.com/r/aww")
+hide-links("reddit.com/r/atheism")
+hide-links("qkme.me")
+hide-links("quickmeme.com")
+hide-links("livememe.com")

[data-domain="elnuevodia.com"], [data-domain="www.elnuevodia.com"]
  background-image: none !important
  body
    margin: 30px 0 !important
    background-image: none !important
  .headersInteriores, .bottomContenidoInteriores.fl, #bloqueComentarios, #sector2Der, #columna1, #footer, #header, #sectorBreadcrumbHeader, #top, .contenedorZonaAviso, #columna3, #footerBottom, .contenedorZonaDeportes, .contenedorZonaElTiempo
    +hide
  .contendorIconosCompartir,
  .contenedorBanner468x60,
  #contenedorTabsHoroscopos
    +hide

  #textoNoticia
    +georgia
    p
      font-size: 16px !important
      line-height: 24px !important
  .contenidoInteriores2
    float: none !important
    width: auto !important

[data-domain="twitter.com"], [data-domain="www.twitter.com"]
  .user-style-cohitre
    .dashboard,
    .content-header
      +hide

[data-domain="boingboing.net"], [data-domain="www.boingboing.net"]
  #navigation,
  .adblock,
  #sidebarPinPoint,
  #sidebarsticky,
  #comments-container
    +hide
  .post-content,
  .headlineBox
    margin: 0 !important
  #mainbar
    +georgia
    margin: 0 auto !important
    width: 600px !important
    p
      font-size: 16px !important
      line-height: 24px !important

  #container
    margin: 0 auto !important
    width: 600px !important
  body
    background-color: transparent !important
    background-image: none !important

[data-domain="en.wikipedia.org"]
  #mw-page-base,
  #mw-head,
  #footer,
  #mw-panel,
  #mw-articlefeedback,
  #siteNotice
    +hide

  #content
    +georgia
    background-color: transparent !important
    background-image: none !important
    border-left: 0 none black !important
    margin: 0 auto !important
    width: 600px !important
    p
      font-size: 16px !important
      line-height: 24px !important
